    *{
        margin: 0;
        padding:0;
    }

    body{
        font-size: 'Be Vietnam Pro', Roboto, sans-serif;
    }
    .container-head{
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
        
    }
    .logo{
        width: 254.75px;
        float:left;
        height:60px;
    }
    .logo img{
    width: 85%;
    padding-left: 5px;
    }
    header{
        background-color: #fff;
        width: 100%;
        height: 50px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid #ced0d1;
    }
    #nav_menu{
        float: left;
        padding-left: 160px;
        font-size: 13px;
        font-weight: bold;
    }
    #nav_menu ul li{
        list-style: none;
        float: left;
        padding: 15px 10px;
    }
    #nav_menu ul li a{
        text-decoration: none;
        color: #2F3237;
        font-size: 14px;
        font-weight: 100;
    }
    #nav_menu ul li a:hover{
        color: #d8131a;
    }
    .register{
        float: left;
    }
    .register a{
        text-decoration: none;
        padding: 5px 15px;
        float: left;
        font-size: 20px;
    }
    .material-symbols-outlined{
        margin-top: 5px;
    }
    .register button{
        border-radius: 10px;
        background-color: #c82f35;
        outline: none;
        border: none;
        color: white;
        padding: 10px 25px;
        float: left;
    }
    .register button:hover{
        background-color: #a3070c;
    }

    .register-learning{
        width: 100%;
        max-width: 1360px;
        margin: 0 auto;
        padding-top: 70px;
        clear: both;
        background-image: url('../image/bg-breadcrumb.png');
        height:200px;
        width: 100%;
        color:#fff; 
        position: relative;
    }
    .register-learning::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        background: linear-gradient(90deg,#bb282e 0,rgba(187,40,46,0) 100%);
    }
    .register-learning .container{
        position: relative;
        width: 100%;
        padding: 30px;
        padding-left: 100px;
    }
    .register-learning h1{
        color: #fff;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
    }
    .register-learning p{
        color: #fff;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    .form-register{
        clear: both;
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
        padding-top:20px;
        color:#c82f35;
    }
    .form-register .left{
        width: 50%;
        float:left;
        height:auto;
        

    }
    .form-register .right{
        width: 50%;
        float:left;
        height:auto;
        
    }
    .form-register .left form input {
        padding:10px;
        border-radius: 5px;
        width: 90%; 
        margin:10px 0;    
        outline: none;  
        border: 1px solid gainsboro;
    
    }
    .form-register .left form textarea{
        padding:10px;
        border-radius: 5px;
        width: 90%; 
        margin:10px 0;    
        outline: none; 
        border: 1px solid gainsboro;
    }

    .form-register .left form select {
        padding:10px;
        border-radius: 5px;
        width: 93%; 
        margin:10px 0;    
        outline: none;  
        border: 1px solid gainsboro;     
    
    }
    .form-register .left form input:hover{
        border: 1px solid rgb(166, 3, 3);
    }
    .form-register .left form textarea:hover{
        border: 1px solid rgb(166, 3, 3);
    }
    .form-register .left form select:hover{
        border: 1px solid rgb(166, 3, 3);
    }

    .form-register .right img{
        width: 80%;
    }
    .form-register .right p{
        font-size: 13px;
        color: #2f3237;
    }
    .form-register .right .phone{
        font-size: 21px;
        color: rgb(249, 11, 11) ;
    }
    .form-register .right .phone:hover{
        color:#cf686c ;
    }
    .form-register .right a{
        float: left;
        padding: 5px 20px 60px 0 ;
        font-size: 20px;
    }
    .form-register .left button{
        padding:10px 8px;
        border-radius: 10px;
        width: 93%; 
        margin:10px 0;    
        outline: none; 
        border: 1px solid gainsboro;
        background-color: #c82f35;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    .form-register .left button:hover{
        background-color: #a3070c;
    }
    .form-register .left p{
        font-weight: bold;
        color: rgb(249, 11, 11);
        padding-top: 20px;
        width: 93%;
    }

    .partner{
        height: 140px;
        background: linear-gradient(180deg,#f1f5f6 0,#fff 43.72%);
        clear: both;
        padding: 50px 0px;
        font-family: 'Courier New', Courier, monospace;
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
    }
    .partner h1{
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
        color: #5b5d60;
    }
    .partner_1 ul{
        padding-left: 60px;
    }
    .partner_1 ul li{
        list-style: none;
        float: left;        
        padding: 10px 30px 0px 30px;
    }
    .partner_1 ul li img{
       height:auto;
       width: auto; 
       max-height: 30px;  
    }
    footer{
        width: 100%;
        max-width: 1360px;
        height: 200px;
        margin: 0 auto;
        background-image: url(../image/bg-footer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -200px top;
        padding-top: 55px;
        position: relative;
        background-color: #c82f35;
    }
    footer .logo-footer{
        width: 50%;
        height: auto;
        float: left;
        padding-top: 20px;
        padding-left: 100px;
    }
    footer .logo-footer img{
        height: 50px;   
    }
    footer .logo-footer p{
        color: #fff;
        padding-top: 5px;
        font-size: 15px;
        float: left;
    }
    footer .logo-footer a{
        float: left;
        padding-left: 10px;
        height: 25px;
    }
    footer .logo-footer .br{
        clear: both;
    }
    footer .info{
        padding-top: 20px;
        padding-left: 100px;
    }
    footer .info p{
        color: #fff;
        padding-top: 5px;
        font-size: 15px;
    }
    footer .info a{
        float: left;
        padding-right:  15px;
        height: 25px;
        padding-top: 5px;
    }