    *{
        margin: 0;
        padding:0;
    }

    body{
        font-size: 'Be Vietnam Pro', Roboto, sans-serif;
    }
    /* Bắt đầu phần header */
    .container-head{
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
        
    }
    .logo{
        width: 254.75px;
        float:left;
        height:60px;
    }
    .logo img{
    width: 85%;
    padding-left: 5px;
    }
    header{
        background-color: #fff;
        width: 100%;
        height: 70px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        border-bottom: 1px solid #ced0d1;
    }
    #nav_menu{
        float: left;
        padding-left: 160px;
        font-size: 13px;
        font-weight: bold;
    }
    #nav_menu ul li{
        list-style: none;
        float: left;
        padding: 15px 10px;
    }
    #nav_menu ul li a{
        text-decoration: none;
        color: #2F3237;
        font-size: 14px;
        font-weight: 100;
    }
    #nav_menu ul li a:hover{
        color: #d8131a;
    }
    .register{
        float: left;
    }
    .register a{
        text-decoration: none;
        padding: 5px 15px;
        float: left;
        font-size: 20px;
    }
    .material-symbols-outlined{
        margin-top: 5px;
    }
    .register button{
        border-radius: 10px;
        background-color: #c82f35;
        outline: none;
        border: none;
        color: white;
        padding: 10px 25px;
        float: left;
    }
    .register button:hover{
        background-color: #a3070c;
    }
    /*  Kết thúc phần header */

    /* Bắt đầu slide show khóa học */
    main{
        max-width: 1150px;
        margin: 0 auto; 
        background-image: url(../image/logo-mini.png);
        width: 100%;
        height: 24px;
        content: "";
        display: block;
        background-size: contain;
        background-position: center center;
        margin: 15px auto;
        background-repeat: no-repeat;   
    }

    .btn{
        float: left;
        padding: 10px 250px 20px 250px ;
    }
    #btn1{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid #C82F35;
        color:#C82F35;
    }
    #btn1:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }
    #btn2{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
    }
    #btn2:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }
    #btn3{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
    }
    #btn3:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }
    #btn4{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
    }
    #btn4:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }

    #course1{
        clear: both;
    }
    #course2{
        clear: both;
    }
    #course3{
        clear: both;
    }
    #course4{
        clear: both;
    }
    #course4{
        padding:0 150px;
    }

    .block-1{
        padding: 35px 0 20px 0;
        color: #C82F35;
        margin: 0 auto;
        font-size: 25px;
    }
    .block-1 h3:hover{
        color: #D3595D;
    }
    .block-1 h3{
        text-align: center;
    }

    .block-img{
        float: left;
        margin: 8px;
    }
    .block-img .image{
        width: 266px;
        height: 280px;
    }
    .block-img .image img{
        width: 100%;
        height: 100%;
    }
    .block-img .content{
        width: 266px;
        height: 107px;
        background-color: #C82F35;
        border-radius: 0 0 8px 8px;
        padding: 10px ;
        color: #fff;
        line-height: 1.5;
    }
    .block-img .content h4{
        font-size: 19px;
    }
    .block-img img{
        border-radius: 8px 8px 0 0;
        border-top:  solid  1px   #ced0d1;
        border-left:  solid  1px   #ced0d1;
        border-right:  solid  1px   #ced0d1;
    }
    .block-img .content:hover{
        background-color: #D3595D;
    }
    /* Kết thúc slide show khóa học */

    /* Bắt đầu phần tin tức mới */
    .news{
        clear: both;
        max-width: 1360px;
        width: 100%;
        padding-top: 50px;
        margin: 0 auto; 
    }
    .container_news{
        background-color: #C82F35;
        height: auto;
        padding: 30px 0;
    }
    .news_logomini{
        background-image: url(../image/logo-mini.png);
        width: 100%;
        height: 24px;
        content: "";
        display: block;
        background-size: contain;
        background-position: center center;
        margin: 15px auto;
        background-repeat: no-repeat; 
    }
    .news_1{
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
        line-height: 32px;
        font-style: normal;
        text-align: center;
        padding-bottom: 35px ;
    }
    .news_1 h3:hover{
        color: #F4D4D6;
    }

    .news_left{
        width: 50%;
        height: auto;
        float: left;
        padding: 0 0 0 100px;
    }
    .newsleft_img{
        height: 380px;
        max-width: 1024px;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    .news_left h4{
        color: #fff;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        height: 50px;
        margin: 15px 0;
    }
    .news_left h4:hover{
        color: #F4D4D6;
    }
    .news_left p{
        color: #fff;
        font-size: 15px;
    }
    .news_right{
        width: 50%;
        height: auto;
        float: left;
        padding: 0 80px 0 0;
    }
    .news_img{
        clear: both;
        float: left;
    }
    .image_right{
        margin-left:  35px;
    }
    .image_right img{
        float: left;
        width: 210px;
        height: 130px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .news_content{
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        margin: 0;
        height: 50px;
        
    }
    .news_content h4{
        max-width: 100%;
        padding: 15px 0 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .news_content h4:hover{
        color: #F4D4D6;
    }
    .news_content p{
        padding: 5px 0 10px 0;
    }

    .news_more{
        clear: both;
        text-align: center;
    }
    .news_more a{
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    /* Kết thúc phần tin tức mới */

    /* Bắt đầu phần lịch khai giảng */
    .lkg{
        max-width: 1150px;
        margin: 0 auto; 
        height: auto;
        padding-top: 30px;
    }
    .lkg_logomini{
        background-image: url(../image/logo-mini.png);
        width: 100%;
        height: 24px;
        content: "";
        display: block;
        background-size: contain;
        background-position: center center;
        margin: 15px auto;
        background-repeat: no-repeat;  
    }
    .block_lkg{
        padding: 10px 0 20px 0;
        color: #C82F35;
        margin: 0 auto;
        font-size: 25px;
    }
    .block_lkg h3:hover{
        color: #D3595D;
    }
    .block_lkg h3{
        text-align: center;
    }

    .btn_lkg{
        float: left;
        padding: 10px 170px 20px 170px ;
    }
    #btn1_lkg{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid #C82F35;
        color:#C82F35;
    }
    #btn1_lkg:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }
    #btn2_lkg{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
    }
    #btn2_lkg:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }
    #btn3_lkg{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
    }
    #btn3_lkg:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }
    #btn4_lkg{
        margin: 0 5px;
        padding: 5px;
        outline: none;
        background: none;
        border: none;
    }
    #btn4_lkg:hover{
        color:#C82F35;
        border-bottom: 2px solid #C82F35;
    }

    #lkg1{
        clear: both;
    }
    #lkg2{
        clear: both;
    }
    #lkg3{
        clear: both;
    }
    #lkg4{
        clear: both;
    }
    .block_img_lkg{
        max-width: 1150px;
        width: 100%;
        clear: both;
        height: 120px;
        margin: 15px 0;
        border: 1px solid #ced0d1;
        border-radius: 8px;     
    }
   
    .cld{
        width: 30%;
        height: 120px;
        float: left;
        background-color: #c82f35;
        justify-content: center;
        padding: 35px 0;
        border: 1px solid #ced0d1;
        border-radius: 8px 0 0 8px;
        border-right: none;
    }
    .cld:hover{
        background-color: #D3595D;
    }
    .day{
        width: 50%;
        float: left;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
    }
    .time{
        width: 50%;
        float: left;
        color: #fff; 
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
    }
    .wei{
        font-weight: 600;
        font-size: 18px;
    }
    .subj{
        width: 70%;
        float: left;
        height: 120px;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;    
    }
    .subj img{
        width: 20%;
        float: left;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .subj h4{
        float: left;
        width: 50%  ;
        color: #2f3237;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        padding: 15px;
    }

    .register_lkg{
        float: right;
        width: 30%;
        padding: 15px;
    }
    .register_lkg button{
        border-radius: 10px;
        background-color: #c82f35;
        outline: none;
        border: none;
        color: white;
        padding: 10px 25px;
    }
    .register_lkg button:hover{
        background-color: #a3070c;
    }

    .lkg_more{
        clear: both;
        text-align: center;
        padding: 20px 0;
    }
    .lkg_more a{
        color: #d8131a;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }

    /* Kết thúc phần lịch khai giảng */

    /* Bắt đầu phần học viên nói về trung tâm */
    .talk{
        max-width: 1150px;
        margin: 0 auto; 
        margin-top: 50px;
        margin-bottom: 60px;
        height: 600px;
        padding: 30px 0; 
        background-color: #C82F35;
        border-radius: 15px;
    }
    .talk_logomini{
        background-image: url(../image/logo-mini.png);
        width: 100%;
        height: 24px;
        content: "";
        display: block;
        background-size: contain;
        background-position: center center;
        margin: 15px auto;
        background-repeat: no-repeat;  
    }
    .block_talk{
        padding-bottom: 20px;
        color: #fff;
        margin: 0 auto;
        font-size: 30px;
    }
    .block_talk h3:hover{
        color: #D3595D;
    }
    .block_talk h3{
        text-align: center;
    }

    .content_talk{
        max-width: 850px;
        width: 100%;
        height: 350px;
        margin: 0 auto;
        line-height: 1.5;
    }
    .ct_p {
        color: #fff;
    }
    .ct_img{
        padding: 15px;
    }
    .ct_img img{
        float: left;
        border-radius: 60px;
        height: 80px;
    }
    .ct_img h4{
        float: left;
        color: #fff;
        padding: 25px 10px;
    }
    .btn_talk{
        text-align: right;
        padding: 10px 100px  ;
    }
    #btn1_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #E25F2E;
        border: none;
        border-radius: 10px;
    }
    #btn2_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #D08487;
        border: none;
        border-radius: 10px;
    }
    #btn3_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #D08487;
        border: none;
        border-radius: 10px;
    }
    #btn4_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #D08487;
        border: none;
        border-radius: 10px;
    }
    #btn5_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #D08487;
        border: none;
        border-radius: 10px;
    }
    #btn6_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #D08487;
        border: none;
        border-radius: 10px;
    }
    #btn7_talk{
        margin: 0 4px;
        padding: 2px 9px;
        outline: none;
        background-color: #D08487;
        border: none;
        border-radius: 10px;
    }
    /* Kết thúc phần học viên nói về trung tâm */

    /* Bắt đầu slide partner  */
    .partner{
        height: 220px;
        background: linear-gradient(180deg,#f1f5f6 0,#fff 43.72%);
        clear: both;
        padding: 50px 110px;
        font-family: 'Courier New', Courier, monospace;
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
    }
    .partner h1{
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
        color: #5b5d60;
    }
    .partner_1 ul li{
        list-style: none;
        float: left;        
        padding: 10px 25px 0px 25px;
    }
    .partner_1 ul li img{
    height:auto;
    width: auto; 
    max-height: 30px;  
    }
    /* Kết thúc slide partner */

    /* Bắt đầu phần footer */
    footer{
        width: 100%;
        max-width: 1360px;
        height: 250px;
        margin: 0 auto;
        background-image: url(../image/bg-footer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -200px top;
        padding-top: 55px;
        position: relative;
        background-color: #c82f35;
    }
    footer .logo-footer{
        width: 50%;
        height: auto;
        float: left;
        padding-top: 20px;
        padding-left: 100px;
    }
    footer .info{
        width: 50%;
        height: auto;
        float: left;
    }
    footer .logo-footer img{
        height: 50px;   
    }
    footer .logo-footer p{
        color: #fff;
        padding-top: 5px;
        font-size: 15px;
        float: left;
    }
    footer .logo-footer a{
        float: left;
        padding-left: 10px;
        height: 25px;
    }
    footer .logo-footer .br{
        clear: both;
    }
    footer .info{
        padding-top: 20px;
        padding-left: 100px;
    }
    footer .info p{
        color: #fff;
        padding-top: 5px;
        font-size: 15px;
    }
    footer .info a{
        float: left;
        padding-right:  15px;
        height: 25px;
        padding-top: 5px;
    }
    /* Kết thúc phần footer */